<div class="container">
  <div>
    <p>Globex Cake Products Listing.</p>
  </div>
  <div>
    <table class="table table-hover table-striped w-auto">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product._id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td><img src="{{ product.url }}" alt="product" /></td>
            <td>
              <button [routerLink]="['/product-edit', product._id]">Edit</button>
              <button (click)="deleteTask(product._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

