<div class="newProdText">
    <p>&nbsp; Edit products in the catalog with this form.</p>
  </div>

<div class="container">
  <div class="form-group">
      <form (submit)="onSubmit()" #form="ngForm">






      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="title">Title</label>
          <input
            name="title"
            type="text"
            class="form-control"
            required
            minlength="4"
            [(ngModel)]="product.title"
            #title="ngModel" />
        </div>

        <div class="form-group col-md-6">
            <label for="price">Price</label>
            <input
              name="price"
              type="number"
              class="form-control"
              required
              minlength="1"
              [(ngModel)]="product.price"
              #title="ngModel" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-9">
            <label for="url">URL</label>
            <input
              name="url"
              type="text"
              class="form-control"
              required
              minlength="4"
              [(ngModel)]="product.url"
              #title="ngModel"
            />
          </div>
          <div class="form-group col-md-3"><img class="editImage" src="{{ product.url }}" alt="product" />
          </div>
      </div>

        <br>
        <hr>
        <br>

        <button [disabled]="form.invalid">Update</button><button class="btn-delete" (click)="onDelete(product)">Delete</button>
      </form>


  </div>
</div>
