<div class="container">
    <div class="row">
        <div class="globex col-1">
          <div class='spacer'></div>
            <p class="globexText"> Globex </p>
        </div>
        <div class="body col-11">
  <div class="right">
      Globex Cake Products | 555-555-5555
  </div>
  <nav class="nav header">
    <a class="nav-link" [routerLink]="['/']">Home</a>
    <a class="nav-link" [routerLink]="['product-list']">Product Listings</a>
    <a class="nav-link" [routerLink]="['/product-creation']">Create a New Product</a>
  </nav>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

