<div class="container">
    <div class="row">
        <div class="globex col-1">
          <div class='spacer'></div>
            <p class="globexText"> Globex </p>
        </div>
        <div class="body col-11">
  <div class="right">
      Globex Cake Products | 555-555-5555
  </div>
  <nav class="nav header">
    <!-- <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a> -->
    <a class="nav-link" [routerLink]="['/']">Home</a>
    <a class="nav-link" [routerLink]="['product-list']">Product Listings</a>
    <a class="nav-link" [routerLink]="['/product-creation']">Create a New Product</a>
  </nav>




      <!--
  <div style="text-align:left"> -->


        <!-- <button [routerLink]="['/']">Home</button>
        <button [routerLink]="['product-list']">Product Listings</button>
        <button [routerLink]="['/product-creation']">Create a New Product</button> -->
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
  <!--
</div> -->


  <!-- <div>
    <form (submit)="onSubmit()"> -->
  <!-- use the json pipe to see how newTask changes in real time -->
  <!-- <p>{{ newProduct | json }}</p>
      Product Title:
      <input
        type="text"
        name="newProduct.title"
        [(ngModel)]="newProduct.title"
      />
      Product url:
      <input
        type="text"
        name="newProduct.url"
        [(ngModel)]="newProduct.url"
      />
      <input type="submit" value="Create Product" />
    </form>
  </div> -->

<!-- <div>
  <p>Product List</p>
</div>
<div>
  <p *ngFor="let product of products">
    {{ product.title }} - {{ product.url }}
    <button (click)="updateProduct(product)">Edit</button>
    <button (click)="deleteTask(product._id)">Delete</button>
  </p>
</div>

<div *ngIf="editProduct">
  <h2>Edit Product</h2>
  <form (submit)="updateSubmit()">
    <p>{{ editProduct | json }}</p>
    Title:
    <input
      type="text"
      name="newProduct.title"
      [(ngModel)]="editProduct.title"
    /><br />
    url:<input
      type="text"
      name="newProduct.url"
      [(ngModel)]="editProduct.url"
    /><br />
    <input type="submit" value="Update Task" />
  </form>
</div> -->
